$brand-accessible: rgb(1, 118, 211);
$brand-accessible-active: rgb(1, 68, 134);
$brand-background-dark: rgb(1, 68, 134);
$brand-background-dark-transparent: rgba(1, 68, 134, 0);
$brand-background-primary: rgb(238, 244, 255);
$brand-background-primary-transparent: rgba(176, 196, 223, 0);
$brand-contrast: rgb(26, 27, 30);
$brand-contrast-active: rgb(13, 14, 18);
$brand-dark: rgb(1, 118, 211);
$brand-dark-active: rgb(37, 48, 69);
$brand-disabled: rgb(201, 199, 197);
$brand-header: rgb(255, 255, 255);
$brand-header-contrast: rgb(94, 94, 94);
$brand-header-contrast-active: rgb(80, 80, 80);
$brand-header-contrast-cool: rgb(1, 68, 134);
$brand-header-contrast-cool-active: rgb(1, 68, 134);
$brand-header-contrast-inverse: rgb(255, 255, 255);
$brand-header-contrast-inverse-active: rgb(238, 238, 238);
$brand-header-contrast-warm: rgb(186, 5, 23);
$brand-header-contrast-warm-active: rgb(186, 5, 23);
$brand-header-contrast-weak: rgb(145, 145, 145);
$brand-header-contrast-weak-active: rgb(129, 129, 129);
$brand-header-contrast-weak-disabled: rgba(166, 166, 166, 0.25);
$brand-header-icon: rgb(145, 145, 145);
$brand-header-icon-active: rgb(129, 129, 129);
$brand-header-icon-disabled: rgba(145, 145, 145, 0.25);
$brand-light: rgb(244, 246, 254);
$brand-light-active: rgb(227, 229, 237);
$brand-primary: rgb(27, 150, 255);
$brand-primary-active: rgb(1, 118, 211);
$brand-primary-transparent: rgba(21, 137, 238, 0.1);
$brand-primary-transparent-10: rgba(21, 137, 238, 0.1);
$brand-primary-transparent-40: rgba(21, 137, 238, 0.4);
$brand-text-link: rgb(1, 118, 211);
$brand-text-link-active: rgb(1, 68, 134);
$color-gray-1: rgb(255, 255, 255);
$color-gray-2: rgb(250, 250, 249);
$color-gray-3: rgb(243, 242, 242);
$color-gray-4: rgb(236, 235, 234);
$color-gray-5: rgb(221, 219, 218);
$color-gray-6: rgb(201, 199, 197);
$color-gray-7: rgb(176, 173, 171);
$color-gray-8: rgb(150, 148, 146);
$color-gray-9: rgb(112, 110, 107);
$color-gray-10: rgb(81, 79, 77);
$color-gray-11: rgb(62, 62, 60);
$color-gray-12: rgb(43, 40, 38);
$color-gray-13: rgb(8, 7, 7);
$palette-blue-10: rgb(0, 22, 57);
$palette-blue-15: rgb(3, 35, 77);
$palette-blue-20: rgb(3, 45, 96);
$palette-blue-30: rgb(1, 68, 134);
$palette-blue-40: rgb(11, 92, 171);
$palette-blue-50: rgb(1, 118, 211);
$palette-blue-60: rgb(27, 150, 255);
$palette-blue-65: rgb(87, 163, 253);
$palette-blue-70: rgb(120, 176, 253);
$palette-blue-80: rgb(170, 203, 255);
$palette-blue-90: rgb(216, 230, 254);
$palette-blue-95: rgb(238, 244, 255);
$palette-cloud-blue-10: rgb(0, 26, 40);
$palette-cloud-blue-15: rgb(10, 38, 54);
$palette-cloud-blue-20: rgb(2, 50, 72);
$palette-cloud-blue-30: rgb(8, 73, 104);
$palette-cloud-blue-40: rgb(5, 98, 138);
$palette-cloud-blue-50: rgb(16, 124, 173);
$palette-cloud-blue-60: rgb(13, 157, 218);
$palette-cloud-blue-65: rgb(8, 171, 237);
$palette-cloud-blue-70: rgb(26, 185, 255);
$palette-cloud-blue-80: rgb(144, 208, 254);
$palette-cloud-blue-90: rgb(207, 233, 254);
$palette-cloud-blue-95: rgb(234, 245, 254);
$palette-green-10: rgb(7, 27, 18);
$palette-green-15: rgb(12, 41, 18);
$palette-green-20: rgb(14, 53, 34);
$palette-green-30: rgb(25, 78, 49);
$palette-green-40: rgb(34, 104, 62);
$palette-green-50: rgb(46, 132, 74);
$palette-green-60: rgb(59, 167, 85);
$palette-green-65: rgb(65, 182, 88);
$palette-green-70: rgb(69, 198, 90);
$palette-green-80: rgb(145, 219, 139);
$palette-green-90: rgb(205, 239, 196);
$palette-green-95: rgb(235, 247, 230);
$palette-hot-orange-10: rgb(40, 18, 2);
$palette-hot-orange-15: rgb(66, 22, 4);
$palette-hot-orange-20: rgb(84, 29, 1);
$palette-hot-orange-30: rgb(126, 38, 0);
$palette-hot-orange-40: rgb(170, 48, 1);
$palette-hot-orange-50: rgb(216, 58, 0);
$palette-hot-orange-60: rgb(255, 93, 45);
$palette-hot-orange-65: rgb(255, 120, 79);
$palette-hot-orange-70: rgb(255, 144, 110);
$palette-hot-orange-80: rgb(254, 185, 165);
$palette-hot-orange-90: rgb(255, 222, 213);
$palette-hot-orange-95: rgb(254, 241, 237);
$palette-indigo-10: rgb(32, 6, 71);
$palette-indigo-15: rgb(31, 9, 116);
$palette-indigo-20: rgb(38, 15, 143);
$palette-indigo-30: rgb(47, 44, 183);
$palette-indigo-40: rgb(58, 73, 218);
$palette-indigo-50: rgb(88, 103, 232);
$palette-indigo-60: rgb(127, 140, 237);
$palette-indigo-65: rgb(142, 155, 239);
$palette-indigo-70: rgb(158, 169, 241);
$palette-indigo-80: rgb(190, 199, 246);
$palette-indigo-90: rgb(224, 229, 248);
$palette-indigo-95: rgb(241, 243, 251);
$palette-neutral-10: rgb(24, 24, 24);
$palette-neutral-20: rgb(46, 46, 46);
$palette-neutral-30: rgb(68, 68, 68);
$palette-neutral-40: rgb(92, 92, 92);
$palette-neutral-50: rgb(116, 116, 116);
$palette-neutral-60: rgb(147, 147, 147);
$palette-neutral-70: rgb(174, 174, 174);
$palette-neutral-80: rgb(201, 201, 201);
$palette-neutral-90: rgb(229, 229, 229);
$palette-neutral-95: rgb(243, 243, 243);
$palette-neutral-100: rgb(255, 255, 255);
$palette-orange-10: rgb(32, 22, 0);
$palette-orange-15: rgb(55, 30, 3);
$palette-orange-20: rgb(62, 43, 2);
$palette-orange-30: rgb(95, 62, 2);
$palette-orange-40: rgb(130, 81, 1);
$palette-orange-50: rgb(169, 100, 4);
$palette-orange-60: rgb(221, 122, 1);
$palette-orange-65: rgb(243, 131, 3);
$palette-orange-70: rgb(254, 147, 57);
$palette-orange-80: rgb(255, 186, 144);
$palette-orange-90: rgb(254, 223, 208);
$palette-orange-95: rgb(255, 241, 234);
$palette-pink-10: rgb(55, 1, 20);
$palette-pink-15: rgb(75, 6, 32);
$palette-pink-20: rgb(97, 2, 42);
$palette-pink-30: rgb(138, 3, 62);
$palette-pink-40: rgb(182, 5, 84);
$palette-pink-50: rgb(227, 6, 106);
$palette-pink-60: rgb(255, 83, 138);
$palette-pink-65: rgb(254, 114, 152);
$palette-pink-70: rgb(254, 138, 167);
$palette-pink-80: rgb(253, 182, 197);
$palette-pink-90: rgb(253, 221, 227);
$palette-pink-95: rgb(254, 240, 243);
$palette-purple-10: rgb(36, 6, 67);
$palette-purple-15: rgb(48, 11, 96);
$palette-purple-20: rgb(64, 16, 117);
$palette-purple-30: rgb(90, 27, 169);
$palette-purple-40: rgb(117, 38, 227);
$palette-purple-50: rgb(144, 80, 233);
$palette-purple-60: rgb(173, 123, 238);
$palette-purple-65: rgb(183, 141, 239);
$palette-purple-70: rgb(194, 158, 241);
$palette-purple-80: rgb(215, 143, 245);
$palette-purple-90: rgb(236, 225, 249);
$palette-purple-95: rgb(246, 242, 251);
$palette-red-10: rgb(48, 12, 1);
$palette-red-15: rgb(74, 12, 4);
$palette-red-20: rgb(100, 1, 3);
$palette-red-30: rgb(142, 3, 15);
$palette-red-40: rgb(186, 5, 23);
$palette-red-50: rgb(234, 0, 30);
$palette-red-60: rgb(254, 92, 76);
$palette-red-65: rgb(254, 119, 101);
$palette-red-70: rgb(254, 143, 125);
$palette-red-80: rgb(254, 184, 171);
$palette-red-90: rgb(254, 222, 216);
$palette-red-95: rgb(254, 241, 238);
$palette-teal-10: rgb(7, 27, 18);
$palette-teal-15: rgb(7, 40, 37);
$palette-teal-20: rgb(2, 52, 52);
$palette-teal-30: rgb(2, 77, 76);
$palette-teal-40: rgb(5, 103, 100);
$palette-teal-50: rgb(11, 130, 124);
$palette-teal-60: rgb(6, 165, 154);
$palette-teal-65: rgb(3, 180, 167);
$palette-teal-70: rgb(1, 195, 179);
$palette-teal-80: rgb(4, 225, 203);
$palette-teal-90: rgb(172, 243, 228);
$palette-teal-95: rgb(222, 249, 243);
$palette-violet-10: rgb(46, 0, 57);
$palette-violet-15: rgb(61, 1, 87);
$palette-violet-20: rgb(82, 0, 102);
$palette-violet-30: rgb(115, 3, 148);
$palette-violet-40: rgb(150, 2, 199);
$palette-violet-50: rgb(186, 1, 255);
$palette-violet-60: rgb(203, 101, 255);
$palette-violet-65: rgb(209, 125, 254);
$palette-violet-70: rgb(216, 146, 254);
$palette-violet-80: rgb(229, 185, 254);
$palette-violet-90: rgb(242, 222, 254);
$palette-violet-95: rgb(249, 240, 255);
$palette-yellow-10: rgb(40, 18, 2);
$palette-yellow-15: rgb(46, 34, 4);
$palette-yellow-20: rgb(79, 33, 0);
$palette-yellow-30: rgb(111, 52, 0);
$palette-yellow-40: rgb(140, 75, 2);
$palette-yellow-50: rgb(168, 100, 3);
$palette-yellow-60: rgb(202, 133, 1);
$palette-yellow-65: rgb(215, 147, 4);
$palette-yellow-70: rgb(228, 162, 1);
$palette-yellow-80: rgb(252, 192, 3);
$palette-yellow-90: rgb(249, 227, 182);
$palette-yellow-95: rgb(251, 243, 224);
