$card-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
$page-header-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
$shadow-active: 0 0 2px #0176d3;
$shadow-drag: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
$shadow-drop-down: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
