$button-color-border-primary: rgb(221, 219, 218);
$card-color-border: rgb(221, 219, 218);
$card-footer-color-border: rgb(221, 219, 218);
$color-border: rgb(221, 219, 218);
$color-border-brand: rgb(27, 150, 255);
$color-border-brand-dark: rgb(1, 68, 134);
$color-border-button-default: rgb(221, 219, 218);
$color-border-button-focus-inverse: rgb(236, 235, 234);
$color-border-customer: rgb(254, 147, 57);
$color-border-destructive: rgb(234, 0, 30);
$color-border-destructive-active: rgb(142, 3, 15);
$color-border-destructive-hover: rgb(186, 5, 23);
$color-border-error: rgb(234, 0, 30);
$color-border-error-alt: rgb(254, 143, 125);
$color-border-error-dark: rgb(254, 143, 125);
$color-border-info: rgb(112, 110, 107);
$color-border-input: rgb(221, 219, 218);
$color-border-input-disabled: rgb(201, 199, 197);
$color-border-inverse: rgb(0, 22, 57);
$color-border-link-focus-inverse: rgb(236, 235, 234);
$color-border-offline: rgb(62, 62, 60);
$color-border-reminder: rgb(236, 235, 234);
$color-border-row-selected: rgb(1, 118, 211);
$color-border-row-selected-hover: rgb(27, 150, 255);
$color-border-selection: rgb(1, 118, 211);
$color-border-selection-active: rgb(250, 250, 249);
$color-border-selection-hover: rgb(27, 150, 255);
$color-border-separator: rgb(250, 250, 249);
$color-border-separator-alt: rgb(221, 219, 218);
$color-border-separator-alt-2: rgb(201, 199, 197);
$color-border-separator-inverse: rgb(3, 45, 96);
$color-border-success: rgb(145, 219, 139);
$color-border-success-dark: rgb(46, 132, 74);
$color-border-warning: rgb(254, 147, 57);
$page-header-color-border: rgb(221, 219, 218);
$page-header-joined-color-border: rgb(221, 219, 218);
