$color-background: rgb(243, 242, 242);
$color-background-alt: rgb(255, 255, 255);
$color-background-alt-inverse: rgb(3, 45, 96);
$color-background-backdrop: rgba(255, 255, 255, 0.75);
$color-background-backdrop-tint: rgb(250, 250, 249);
$color-background-customer: rgb(254, 147, 57);
$color-background-dark: rgb(236, 235, 234);
$color-background-destructive: rgb(186, 5, 23);
$color-background-destructive-active: rgb(142, 3, 15);
$color-background-destructive-hover: rgb(186, 5, 23);
$color-background-error: rgb(254, 92, 76);
$color-background-error-dark: rgb(186, 5, 23);
$color-background-highlight: rgb(250, 255, 189);
$color-background-highlight-search: rgb(255, 240, 63);
$color-background-image-overlay: rgba(0, 0, 0, 0.6);
$color-background-info: rgb(112, 110, 107);
$color-background-input-checkbox-disabled: rgb(221, 219, 218);
$color-background-input-disabled: rgb(236, 235, 234);
$color-background-inverse: rgb(0, 22, 57);
$color-background-inverse-light: rgb(3, 45, 96);
$color-background-light: rgb(255, 255, 255);
$color-background-notification-new: rgb(243, 242, 242);
$color-background-offline: rgb(62, 62, 60);
$color-background-post: rgb(243, 242, 242);
$color-background-row-active: rgb(236, 235, 234);
$color-background-row-hover: rgb(243, 242, 242);
$color-background-row-new: rgb(205, 239, 196);
$color-background-row-selected: rgb(236, 235, 234);
$color-background-scrollbar: rgb(236, 235, 234);
$color-background-scrollbar-track: rgb(201, 199, 197);
$color-background-selection: rgb(216, 230, 254);
$color-background-spinner-dot: rgb(176, 173, 171);
$color-background-stencil: rgb(243, 242, 242);
$color-background-stencil-alt: rgb(236, 235, 234);
$color-background-success: rgb(69, 198, 90);
$color-background-success-dark: rgb(46, 132, 74);
$color-background-success-darker: rgb(25, 78, 49);
$color-background-toast: rgb(112, 110, 107);
$color-background-toggle: rgb(176, 173, 171);
$color-background-toggle-disabled: rgb(176, 173, 171);
$color-background-toggle-hover: rgb(150, 148, 146);
$color-background-warning: rgb(254, 147, 57);
$color-background-warning-dark: rgb(254, 147, 57);
$color-brand: rgb(27, 150, 255);
$color-brand-dark: rgb(1, 118, 211);
$color-brand-darker: rgb(1, 68, 134);
$color-picker-slider-thumb-color-background: rgb(243, 242, 242);
$page-header-color-background: rgb(243, 242, 242);
// $popover-walkthrough-alt-image: /assets/images/popovers/popover-action.png;
$popover-walkthrough-alt-nubbin-color-background: rgb(1, 118, 211);
$popover-walkthrough-color-background: rgb(0, 22, 57);
$popover-walkthrough-color-background-alt: rgb(1, 118, 211);
$popover-walkthrough-header-color-background: rgb(3, 45, 96);
// $popover-walkthrough-header-image: /assets/images/popovers/popover-header.png;
$progress-color-background-shade: rgb(243, 242, 242);
$progress-color-border-shade: rgb(243, 242, 242);
$table-color-background-header: rgb(250, 250, 249);
$table-color-background-header-hover: rgb(255, 255, 255);
