$height-header: 3.125rem;
$size-large: 25rem;
$size-medium: 20rem;
$size-small: 15rem;
$size-x-large: 40rem;
$size-x-small: 12rem;
$size-xx-large: 60rem;
$size-xx-small: 6rem;
$size-xxx-small: 3rem;
$square-icon-large-boundary: 3rem;
$square-icon-large-boundary-alt: 5rem;
$square-icon-large-content: 2rem;
$square-icon-medium: 2rem;
$square-icon-medium-boundary: 2rem;
$square-icon-medium-boundary-alt: 2.25rem;
$square-icon-medium-content: 1rem;
$square-icon-medium-content-alt: 0.875rem;
$square-icon-small-boundary: 1.5rem;
$square-icon-small-content: 0.75rem;
$square-icon-utility-large: 1.5rem;
$square-icon-utility-medium: 1.25rem;
$square-icon-utility-small: 1rem;
$square-icon-x-small-boundary: 1.25rem;
$square-icon-x-small-content: 0.5rem;
$square-icon-xx-small-boundary: 1rem;
$var-square-icon-medium-boundary: 2rem;
