$border-radius-circle: 50%;
$border-radius-large: 0.5rem;
$border-radius-medium: 0.25rem;
$border-radius-small: 0.125rem;
$page-header-border-radius: 0.25rem;
$table-border-radius: 0 0 0.25rem 0.25rem;
