$spacing-large: 1.5rem;
$spacing-medium: 1rem;
$spacing-none: 0;
$spacing-small: 0.75rem;
$spacing-x-large: 2rem;
$spacing-x-small: 0.5rem;
$spacing-xx-large: 3rem;
$spacing-xx-small: 0.25rem;
$spacing-xxx-small: 0.125rem;
$table-cell-spacing: 0.25rem 0.5rem;
$template-gutters: 0.75rem;
$template-profile-gutters: 8rem 0.75rem 0.75rem;
$var-spacing-horizontal-large: 1.5rem;
$var-spacing-horizontal-medium: 1rem;
$var-spacing-horizontal-small: 0.75rem;
$var-spacing-horizontal-x-large: 2rem;
$var-spacing-horizontal-x-small: 0.5rem;
$var-spacing-horizontal-xx-large: 3rem;
$var-spacing-horizontal-xx-small: 0.25rem;
$var-spacing-horizontal-xxx-small: 0.125rem;
$var-spacing-large: 1.5rem;
$var-spacing-medium: 1rem;
$var-spacing-small: 0.75rem;
$var-spacing-vertical-large: 1.5rem;
$var-spacing-vertical-medium: 1rem;
$var-spacing-vertical-small: 0.75rem;
$var-spacing-vertical-x-large: 2rem;
$var-spacing-vertical-x-small: 0.5rem;
$var-spacing-vertical-xx-large: 3rem;
$var-spacing-vertical-xx-small: 0.25rem;
$var-spacing-vertical-xxx-small: 0.125rem;
$var-spacing-x-large: 2rem;
$var-spacing-x-small: 0.5rem;
$var-spacing-xx-large: 3rem;
$var-spacing-xx-small: 0.25rem;
$var-spacing-xxx-small: 0.125rem;
