$font-size-1: 0.625rem;
$font-size-2: 0.75rem;
$font-size-3: 0.8125rem;
$font-size-4: 0.875rem;
$font-size-5: 1rem;
$font-size-6: 1.125rem;
$font-size-7: 1.25rem;
$font-size-8: 1.5rem;
$font-size-9: 1.75rem;
$font-size-10: 2rem;
$font-size-11: 2.625rem;
$var-font-size-1: 0.625rem;
$var-font-size-2: 0.75rem;
$var-font-size-3: 0.8125rem;
$var-font-size-4: 0.875rem;
$var-font-size-5: 1rem;
$var-font-size-6: 1.125rem;
$var-font-size-7: 1.25rem;
$var-font-size-8: 1.5rem;
$var-font-size-9: 1.75rem;
$var-font-size-10: 2rem;
$var-font-size-11: 2.625rem;
