$color-text-action-label: rgb(62, 62, 60);
$color-text-action-label-active: rgb(8, 7, 7);
$color-text-brand: rgb(27, 150, 255);
$color-text-brand-primary: rgb(255, 255, 255);
$color-text-button-default-disabled: rgb(221, 219, 218);
$color-text-button-default-hint: rgb(176, 173, 171);
$color-text-button-inverse: rgb(236, 235, 234);
$color-text-customer: rgb(254, 147, 57);
$color-text-default: rgb(8, 7, 7);
$color-text-destructive: rgb(234, 0, 30);
$color-text-destructive-hover: rgb(186, 5, 23);
$color-text-error: rgb(234, 0, 30);
$color-text-icon-default: rgb(112, 110, 107);
$color-text-icon-default-disabled: rgb(221, 219, 218);
$color-text-icon-default-hint: rgb(176, 173, 171);
$color-text-icon-inverse: rgb(255, 255, 255);
$color-text-icon-inverse-active: rgb(255, 255, 255);
$color-text-icon-inverse-hover: rgb(255, 255, 255);
$color-text-input-disabled: rgb(62, 62, 60);
$color-text-input-icon: rgb(176, 173, 171);
$color-text-inverse: rgb(255, 255, 255);
$color-text-inverse-weak: rgb(176, 173, 171);
$color-text-label: rgb(62, 62, 60);
$color-text-link: rgb(1, 118, 211);
$color-text-link-active: rgb(3, 45, 96);
$color-text-link-disabled: rgb(3, 45, 96);
$color-text-link-focus: rgb(1, 68, 134);
$color-text-link-hover: rgb(1, 68, 134);
$color-text-link-inverse: rgb(255, 255, 255);
$color-text-link-inverse-active: rgba(255, 255, 255, 0.5);
$color-text-link-inverse-disabled: rgba(255, 255, 255, 0.15);
$color-text-link-inverse-hover: rgba(255, 255, 255, 0.75);
$color-text-placeholder: rgb(112, 110, 107);
$color-text-placeholder-inverse: rgb(236, 235, 234);
$color-text-required: rgb(234, 0, 30);
$color-text-success: rgb(46, 132, 74);
$color-text-success-inverse: rgb(69, 198, 90);
$color-text-tab-label: rgb(43, 40, 38);
$color-text-tab-label-disabled: rgb(236, 235, 234);
$color-text-toggle-disabled: rgb(221, 219, 218);
$color-text-warning: rgb(254, 147, 57);
$color-text-warning-alt: rgb(140, 75, 2);
$color-text-weak: rgb(62, 62, 60);
